<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop104="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  IgnorableNamespaces="uap mp">

	<Identity
	  Name="a80484e5-d3cb-455d-930d-a06a9d96a9ea"
	  Publisher="CN=StokedOnIt"
	  Version="1.0.0.0" />

	<mp:PhoneIdentity PhoneProductId="a80484e5-d3cb-455d-930d-a06a9d96a9ea" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>multi-instance-background-task</DisplayName>
		<PublisherDisplayName>StokedOnIt</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
	      EntryPoint="multi_instance_background_task.App"
		  desktop104:SupportsMultipleInstances="true">
			<uap:VisualElements
			  DisplayName="multi-instance-background-task"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png"
			  Description="multi-instance-background-task"
			  BackgroundColor="transparent">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>
			<Extensions>
				<Extension Category="windows.backgroundTasks" EntryPoint="background_tasks.ThisBackgroundTask">
					<BackgroundTasks>
						<Task Type="systemEvent"/>
					</BackgroundTasks>
				</Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
	</Capabilities>
</Package>